<div class="row g-3 align-items-center">
    <div class="col-3">
      <label for="name" class="col-form-label">Name</label>
    </div>
    <div class="col-9">
      <input type="password" id="name" class="form-control">
    </div>
</div>
<div class="row g-3 align-items-center mt-2">
    <div class="col-3">
      <label for="phone" class="col-form-label">Phone</label>
    </div>
    <div class="col-9">
      <input type="password" id="phone" class="form-control">
    </div>
</div>
<div class="row g-3 align-items-center mt-2">
    <div class="col-3">
      <label for="email" class="col-form-label">E-mail</label>
    </div>
    <div class="col-9">
      <input type="password" id="email" class="form-control">
    </div>
</div>
<div class="row g-3 align-items-center mt-2">
  <div class="col-3">
    <label for="startDate" class="col-form-label">StartDate</label>
  </div>
  <div class="col-9">
    <input type="date" id="startDate" class="form-control">
  </div>
</div>
<div class="row g-3 align-items-center mt-2">
    <div class="col-3">
      <label for="endDate" class="col-form-label">EndDate</label>
    </div>
    <div class="col-9">
      <input type="date" id="endDate" class="form-control">
    </div>
</div>
<div class="row g-3 align-items-center mt-2">
  <div class="col-12 d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-primary" (click)="search()">OK</button>
  </div>
</div>
