<div class="container">
    <div class="row">
        <div class="col-12">
            <button class="btn btn-primary icon-link" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                </svg>
                New
            </button>
            <button class="btn btn-primary ms-4 icon-link">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-folder-symlink" viewBox="0 0 16 16">
                    <path
                        d="m11.798 8.271-3.182 1.97c-.27.166-.616-.036-.616-.372V9.1s-2.571-.3-4 2.4c.571-4.8 3.143-4.8 4-4.8v-.769c0-.336.346-.538.616-.371l3.182 1.969c.27.166.27.576 0 .742z" />
                    <path
                        d="m.5 3 .04.87a1.99 1.99 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14h10.348a2 2 0 0 0 1.991-1.819l.637-7A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2zm.694 2.09A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09l-.636 7a1 1 0 0 1-.996.91H2.826a1 1 0 0 1-.995-.91l-.637-7zM6.172 2a1 1 0 0 1 .707.293L7.586 3H2.19c-.24 0-.47.042-.683.12L1.5 2.98a1 1 0 0 1 1-.98h3.672z" />
                </svg>
                Export
            </button>
        </div>
        <div class="col-12 col-md-5 mt-3">
            <div class="input-group mb-3">
                <input type="text" [formControl]="searchBySharedKey" (keyup.enter)="searchClient($event)"
                    class="form-control" placeholder="Enter shared key" aria-describedby="search">
                <button class="btn btn-outline-secondary" type="button" id="search"
                    (click)="searchClient(null)">Search</button>
            </div>
        </div>
        <div class="col-12 col-md-7 mt-3" *ngIf="!showAdvancedSearchComponent">
            <button class="btn btn-primary" (click)="showAdvancedSearchComponent = true">Advanced Search</button>
        </div>
        <div class="col-12 col-md-8" *ngIf="showAdvancedSearchComponent">
            <div class="card text-bg-light">
                <div class="close-button">
                    <button type="button" class="btn-close" (click)="showAdvancedSearchComponent = !showAdvancedSearchComponent"></button>
                </div>
                <div class="col-12" *ngIf="clientsTableSpinner">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border spinner mt-5 text-primary">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <app-client-form (sendForm)="sendClientForm($event)" [isAdd]="false"></app-client-form>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4 table-section">
        <div class="col-12" *ngIf="clientsTableSpinner">
            <div class="d-flex justify-content-center">
                <div class="spinner-border spinner mt-5 text-primary">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
        <div class="col-12" *ngIf="!clientsTableSpinner">
            <h5 class="table-title mb-3">Clients</h5>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Shared Key</th>
                        <th>Business ID</th>
                        <th>E-mail</th>
                        <th>Phone</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-pencil" viewBox="0 0 16 16">
                                <path
                                    d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                            </svg>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let client of clientsInfo">
                        <td>{{ client.sharedKey }}</td>
                        <td>{{ client.name }}</td>
                        <td>{{ client.email }}</td>
                        <td>{{ client.phone }}</td>
                        <td>{{ client.startDate }}</td>
                        <td>{{ client.endDate }}</td>
                        <td class="cursor">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-pencil" viewBox="0 0 16 16">
                                <path
                                    d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                            </svg>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">New Client</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    #addClientModal></button>
            </div>
            <div class="modal-body">
                <app-client-form (sendForm)="sendClientForm($event)" [isAdd]="true"></app-client-form>
            </div>
        </div>
    </div>
</div>